.cart-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.cart-list-container{
    padding: 10px;
    background-color: rgb(146, 92, 25);
    color: white;
}
.cart-summary {
    padding: 20px;
    /* background-color: rgb(146, 92, 25); */
    color: white;
    border: 2px solid #ffffff85;
    padding-top: 30px;
   
}
.cart-list-container {
    width: 70%;
    border-radius: 30px;
}
.cart-list{
    height: 70vh;
    overflow-y: scroll;
    padding: 15px;
    
}
.cart-titan{
    text-align: center;
    padding: 10px;
}
.cart-list-header {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}
.cart-list-item {
    margin: 10px 0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-image-container,
.item-name,
.item-quantity,
.item-price,
.cart-list-header h3 {
    text-align: center;
    width: 20%;
    padding: 0px;
}
.item-quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-image {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 200px;
    padding: 15px;
}
.cart-summary {
    width: 20%;
    height: 150px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    text-align: center;
}
.cart-summary button{
    width: 50%;
    background-color: orangered;
    padding: 5px 20px;
    align-self: center;
    border-radius: 15px;
    border: 0;
    color: white;
}